In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
train_data = pd.read_csv('train.csv')
train_data.head(3)

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1

In [11]:
train_data.shape

(61878, 95)

In [3]:
X_train = train_data.iloc[:,1:-1].values
y_train = train_data.iloc[:,-1].values

In [12]:
shuffle_index = np.random.permutation(61878)
X_train, y_train = X_train[shuffle_index], y_train[shuffle_index]

In [13]:
y_train_class_1 = (y_train == 'Class_1')

In [5]:
from sklearn.linear_model import LogisticRegression

In [6]:
model = LogisticRegression(random_state=42)

In [7]:
model.fit(X_train, y_train_class_1)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=42, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [8]:
y_train_pred = model.predict(X_train)
y_train_pred

array([False, False, False, ..., False, False, False])

In [16]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_train_class_1,y_train_pred)

array([[59406,   543],
       [ 1910,    19]])